{% extends "base.html" %}
{% load static %}
{% block body %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>账户组管理<small></small></h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>系统管理</li>
        <li><a href="/sys/account">账户管理</a></li>
        <li><a href="/sys/group">账户组管理</a></li>
        <li class="active">{{group.name}}</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header with-border">{%if perm.auth.change_group%}
          <span style="float: right;font-size: 12px;"><a href="#" data-toggle="modal" data-target="#modal-default"> 添加</a></span>{%endif%}
          <h6 class="box-title" >账号列表</h6>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div>
            <form class="form-inline m-bot15" role="form">
              <div class="form-group margin-r-5">
               <input class="form-control" value="{{member}}" placeholder="请输入关键字" name="member">
              </div>

              <button type="submit" class="btn bg-navy">开始</button>
            </form>
          </div>

        </div>
        <!-- /.box-body -->
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-hover">
                <thead>
                <tr>
                  <th><input type="checkbox" id="action-toggle"/></th>
                  <th>名称</th>
                  <th>邮箱</th>
                  <th>状态</th>
                  <th>创建时间</th>
                </tr>
                </thead>
                <tbody>{% for item in page.object_list %}
                <tr>
                  <td><input type="checkbox" value="{{ item.id }}" class="action-select" name="_selected_action"/>
                  </td>
                  <td><a href="/sys/account/group/{{ item.id }}" title="{{ item.name }}">{{ item.username }}</a></td>
                  <td>{{item.email}}</td>
                  <td>
                    {%if item.is_active%}
                    <span class="label label-success">是</span>
                    {%else%}
                    <span class="label label-warning">否</span>
                    {%endif%}
                  </td>
                  <td>{{item.date_joined|date:"Y-m-d H:i:s"}}</td>

                </tr>{% empty %}
                <tr>
                  <td colspan="10" align="center">
                    <span style="color:#ff0000">没找到相关数据!</span>
                  </td></tr>{% endfor %}
                </tbody>
              </table>

              <div style="text-align: right; border-top: 1px solid #eee">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="btn-group pagination" style="float: left">
                      <button type="button" class="btn btn-info">Action</button>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="btn-user" role="remove" group-id="{{group.id}}">移除所选用户</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-10" style="text-align: right">
                    {{ page.render }}
                  </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          {% include "../inc/__group_add_user.html" %}
          <!-- /.box -->
        </div>
        <!-- /.col -->
        </div></div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static "css/jquery-ui.css"%}">
<script src="{% static "js/jquery-ui.js"%}"></script>
<script>
    $(function () {
        $("#name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/sys/account/search/",
                    type:'POST',
                    data: {
                        q: request.term,
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                    success: function (data) {
                        response( $.map( data, function( item ) {
                            return {
                                value: item.name,
                                //value: item.id,
                                label: item.name,
                            }
                        }));
                    }
                });
            },
            minLength: 3,
        });

        $(".btn-user").click(function () {
            var ps = '';
            var role = $(this).attr('role');
            var group_id = $(this).attr('group-id');

            $("input[name='_selected_action']:checkbox:checked").each(function () {
                ps = ps + $(this).val() + ",";
            });

            if (!confirm('确定操作选中的数据吗?')) return false;
            var csrftoken = getCookie('csrftoken');

            $.post("/sys/group/batch/",
                {"ids": ps, "csrfmiddlewaretoken": csrftoken, 'action': role,
                    'group_id': group_id},
                function (data) {
                    window.location.href = '/sys/group/member/{{group.id}}';
                });
        });
    });
</script>
{%endblock %}
