{% extends "base.html" %}
{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>系统管理
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>系统管理</li>
      <li class="active">系统日志</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">日志列表</h3>
        {% if tag_types_selected and tag_types_selected > 0 %} - <span class="label label-success">
          {{ tag_types_selected }}</span>{% endif %}
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div>
          <form class="form-inline m-bot15" role="form">
            <div class="form-group margin-r-5">
              <select class="form-control" name="m">
                <option value="" selected="selected">所有对象</option>
                {% for item in modules %}
                <option value="{{ item.id }}" {% ifequal item.id|slugify m %} selected{% endifequal %}>{{ item }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group margin-r-5">
              <select class="form-control" name="l">
                <option value="" selected="selected">所有级别</option>
                {% for item in levels %}
                <option value="{{ item.0 }}" {% ifequal item.0 l %} selected{% endifequal %}>{{item.1 }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group margin-r-5">
              <select class="form-control" name="o">
                <option value="" selected="selected">所有来源</option>
                {% for item in origins %}
                <option value="{{ item.0 }}" {% ifequal item.0|slugify o %} selected{% endifequal %}>
                  {{item.1 }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group margin-r-5">
              <select class="form-control" name="r">
                <option value="" selected="selected">是否已读</option>
                <option value="1" {% ifequal '1' r %} selected{% endifequal %}>已读</option>
                <option value="2" {% ifequal '2' r %} selected{% endifequal %}>未读</option>
              </select>
            </div>

            <div class="form-group margin-r-5">
              <input class="form-control" placeholder="标题关键字" value="{{k}}" name="k"/>
            </div>

            <button type="submit" class="btn bg-navy">查询</button>
          </form>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-hover">
              <thead>
              <tr>
                <th width="50px;"><input type="checkbox" id="action-toggle"/></th>
                <th>标题</th>
                <th>模块</th>
                <th>类型</th>
                <th>LEVEL</th>
                <th>描述</th>
                <th>IP</th>
                <th>时间</th>
              </tr>
              </thead>
              <tbody>{% for item in page.object_list %}
              <tr>
                <td><input type="checkbox" value="{{ item.id }}" class="action-select" name="_selected_action"/></td>
                <td>{% if not item.is_read %}
                  <span class="red-point"></span>{% endif %}
                  <a href="/sys/log/{{ item.id }}">{{ item.title }}</a></td>
                <td><span class="label label-primary">{{ item.module|default:"-" }}</span></td>
                <td>{{ item.get_type_display }}</td>
                <td><span class="label {% if item.level ==  0%}label-danger{% elif item.level ==  1%}" style="background: #f57979{% elif item.level ==  2%}label-warning{% elif item.level ==  2%}label-primary{% else %}label-info{% endif %}">
                  {{ item.get_level_display }}</span>
                </td>
                <td title="{{item.description}}">{{ item.description|slice:"30" }}</td>
                <td>{{ item.ipv4|default:"-" }}</td>
                <td>{{ item.created_at|date:"Y-m-d H:i:s" }}</td>
              </tr>

              {% empty %}
              <tr>
                <td colspan="10" align="center"><span style="color:#ff0000">没找到相关数据!</span></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

            <div style="text-align: right; border-top: 1px solid #eee">
              <div class="row">
                <div class="col-sm-2">
                  {% if perm.system.delete_sysloginfo%}
                  <div class="btn-group pagination" style="float: left">
                    <button type="button" class="btn btn-info">Action</button>
                    <button type="button" class="btn btn-info dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="true">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                      <li><a href="#" class="btn-log" role="del">删除日志</a></li>
                      <li><a href="#" class="btn-log" role="read">标记已读</a></li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <div class="col-sm-10" style="text-align: right">
                  {{ page.render }}
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}

{% block script %}
<style>
    .red-point{
    position: relative;
}

.red-point::before{
    content: " ";
    border: 3px solid #d70000;/*设置红色*/
    border-radius:3px;/*设置圆角*/
    position: absolute;
    z-index: 1000;
    right: 0%;
    margin-right: 5px;
    margin-top: 7px;
}

</style>
<script>
    $(function () {
        $(".btn-log").click(function () {
            var ps = '';
            var role = $(this).attr('role');

            $("input[name='_selected_action']:checkbox:checked").each(function () {
                ps = ps + $(this).val() + ",";
            });

            if (!confirm('确定操作选中的数据吗?')) return false;
            var csrftoken = getCookie('csrftoken');

            $.post("/sys/log/batch", {"ids": ps, "csrfmiddlewaretoken": csrftoken, 'action': role},
                function (data) {
                    window.location.href = '/sys/log';
                });
        });


    });

</script>

{% endblock %}
