{% extends "base.html" %}
{% block body %}
{% load get_rule %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>漏洞知识库 <small></small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>策略管理</li>
      <li><a href="/tactic/kb/">漏洞知识库</a></li>
      <li class="active">漏洞来源</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <span style="float: right;font-size: 12px">{%if perm.tactic.add_vulncategoryinfo%}
          <a href="#" data-toggle="modal" data-target="#modal-default"> 添加</a></span>{%endif%}
        <h6 class="box-title">来源列表</h6>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-10">
            <form class="form-inline" role="form">
              <div class="form-group margin-r-5">
                <input class="form-control" value="{{keyword}}"
                  placeholder="关键字" name="k" style="width: 256px">
              </div>
              <button type="submit" class="btn bg-navy">查询</button>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-hover">
              <thead>
                <tr>
                  <th width="5%"><input type="checkbox" id="action-toggle" /></th>
                  <th width="35%">名称</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>{% for item in page.object_list %}
                <tr>
                  <td><input type="checkbox" value="{{ item.id }}"
                      class="action-select" name="_selected_action" /></td>
                  <td><span class="title" id="{{item.id}}" title="双击编辑">{{ item.name }}</span></td>
                  <td>{{ item.created_at|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="10" align="center"><span style="color:#ff0000">没找到相关数据!</span></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div style="text-align: right; border-top: 1px solid #eee">
              <div class="row">
                <div class="col-sm-2">{%if perm.tactic.add_vulncategoryinfo%}
                  <div class="btn-group pagination" style="float: left">
                    <button type="button" class="btn btn-info">Action</button>
                    <button type="button" class="btn btn-info dropdown-toggle"
                      data-toggle="dropdown" aria-expanded="true">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#" class="btn-ops" role="del">删除所选来源</a></li>
                    </ul>
                  </div>{%endif%}
                </div>
                <div class="col-sm-10" style="text-align: right">
                  {{ page.render }}
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->{%if perm.tactic.add_vulncategoryinfo%}
          {% include "./__origin_add_modal.html" %}{%endif%}
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block script %}
<script src="/static/plugins/toastr/toastr.min.js"></script>
<link href="/static/plugins/toastr/toastr.min.css" rel="stylesheet"
  type="text/css" />
<script>
    $(function () {
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
        {%if request.GET.errmsg %}
        toastr.error("{{ request.GET.errmsg }}");
        {% endif %}

        {% if request.GET.msg %}
        toastr.success("{{ request.GET.msg }}");
        {% endif %}
{%if perm.tactic.add_vulncategoryinfo%}
        $(".btn-ops").click(function () {
            var ps = '';
            var role = $(this).attr('role');

            $("input[name='_selected_action']:checkbox:checked").each(function () {
                ps = ps + $(this).val() + ",";
            });

            if (!confirm('确定操作选中的数据吗?')) return false;
            var csrftoken = getCookie('csrftoken');

            $.post("/tactic/kb/origin/", {"ids": ps, "csrfmiddlewaretoken": csrftoken, 'action': role},
                function (data) {
                    window.location.href = '/tactic/kb/origin/';
                });
        });{% endif %}

        $(".title").dblclick(function(){     
        var value = $(this).text();   
        var id = $(this).attr('id'); 
        var csrftoken = getCookie('csrftoken');
        if(value)   
        {   
            $(this).html("<input type='text' id='i"+id+"'  name='origin_name' value="+value+">");   
            $(".title > input").focus().blur(function(){   
               $.ajax({   
                     type: "POST",   
                     url: "/tactic/kb/origin/",   
                     data:   "action=update&id="+id+"&name="+$("#i"+id).val()+"&csrfmiddlewaretoken="+ csrftoken, 
                     success: function(msg){ window.location.href='/tactic/kb/origin/' }   
                    });   
                })   
        }  
})   

    });
</script>

{% endblock %}
