{% extends "base.html" %}
{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>节点管理<small></small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>节点管理</li>
      <li><a href="/conf/node/">集群管理</a></li>
      <li class="active">服务管理</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h6 class="box-title">服务列表</h6>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-10">
            <form class="form-inline" role="form">
              <div class="form-group margin-r-5">
                <input class="form-control" value="{{keyword}}" placeholder="关键字" name="k" style="width: 256px">
              </div>
              <button type="submit" class="btn bg-navy">查询</button>
            </form>
          </div>
          <div class="col-md-2">
            <div class="content-toolbar btn-toolbar pull-right clearfix">
              <div class="btn-group">
                <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
                  <i class="fa fa-list-alt"></i> 其他操作 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu model_fields pull-right" role="menu">
                  <li><a href="#" data-toggle="modal" data-target="#modal-default">注册服务</a></li>
                  <li class="divider"></li>
                  <li><a href="/node/service/?action=1">生成配置</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-hover">
              <thead>
              <tr>
                <th width="5%"><input type="checkbox" id="action-toggle"/></th>
                  <th>服务名称</th>
                  <th>Key</th>
                  <th>角色</th>
                  <th>进程关键字</th>
                  <th>创建时间</th>
              </tr>
              </thead>
              <tbody>{% for item in page.object_list %}
              <tr>
                <td><input type="checkbox" value="{{ item.id }}" class="action-select" name="_selected_action"/></td>
                <td>{{item.name }}</td>
                <td><span class="label label-default"> {{ item.key}}</span></td>
                <td><span class="label label-info"> {{item.get_role_display }}</span></td>
                <td><span class="label label-primary">{{item.process_keyword}}</span></td>
                <td>{{ item.created_at|date:"Y-m-d H:i:s" }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="10" align="center"><span style="color:#ff0000">没找到相关数据!</span></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

            <div style="text-align: right; border-top: 1px solid #eee">
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10" style="text-align: right">
                  {{ page.render }}
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          {% include "./__inc_add.html" %}
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block script %}
<script src="/static/plugins/spectrum/spectrum.js"></script>
<link href="/static/plugins/spectrum/spectrum.css" rel="stylesheet" type="text/css"/>
<script>
$("#custom").spectrum({
     showPaletteOnly: true,
    togglePaletteOnly: true,
    togglePaletteMoreText: 'more',
    togglePaletteLessText: 'less',
    color: 'blanchedalmond',
    palette: [
        ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
        ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
        ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
        ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
        ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
        ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
        ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
        ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
    ]
});
</script>
{% endblock %}
