<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 680px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建项目组</h4>
      </div>
      <form class="form-horizontal" action="/project/group/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <!-- Horizontal Form -->
          <!-- form start -->
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">名称(*)：</label>
              <div class="col-sm-9">
                <input type="text" name="name" required class="form-control" id="name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">类型：</label>
              <div class="col-sm-9">
                <select class="form-control" name="type">{%for item in app_type%}
                  <option value="{{item.0}}">{{item.1}}</option>{%endfor%}</select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">URL：</label>
              <div class="col-sm-9">
                <input type="text" name="url" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">描述：</label>
              <div class="col-sm-9">
                 <textarea class="form-control" name="description" rows="6" id="description"></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submit-rule">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>