{% extends "base.html" %}
{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>权限管理
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>系统管理</li>
      <li><a href="/sys/account">账号管理</a></li>
      <li><a href="/sys/account/perm">权限管理</a></li>
      <li class="active">{{ model.name }}</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="tab-pane active" id="fa-icons">{%if perm.auth.change_permission%}
            <form class="form-horizontal" action="/sys/account/perm/{{ model.id }}/" method="post" enctype="multipart/form-data">
              {% csrf_token %}{%endif%}
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th style="width:120px; padding-left: 35px;">名称(*)：</th>
                    <td align="left">
                      <input name="name" required class="form-control" value="{{ model.name }}" style="width: 256px">
                    </td>
                  </tr>
                  <tr>
                    <th style="width:120px; padding-left: 35px;">Key：</th>
                    <td>{{ model.codename }}</td>
                  </tr>
                  <tr>
                    <th style="width:120px; padding-left: 35px;">所属模块：</th>
                    <td>{{model.content_type.app_label}}.{{model.content_type.model}}</option></td>
                  </tr>{%if perm.auth.change_permission%}
                  <tr>
                    <th></th>
                    <td><button class="btn btn-primary" id="submit-rule">修改</button></td>
                  </tr>{%endif%}
                </table>
              </div>
            </form>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block script %}

{% endblock %}
